@font-face {
  font-family: 'Corrosiva Regular';
  src: url('font/Corrosiva-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  color: #00ff00;
  font-family: "Corrosiva Regular", sans-serif;
  
  
}

#regresar {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #00ff00;
  cursor: pointer;
  font-weight: bold;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 8px 14px;
  border: 1px solid #00ff00;
  transition: background-color 0.3s;
}



#regresar:hover {
  background-color: rgba(0, 255, 0, 0.2);
}

.info-window {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 390px;
  padding: 15px;
  border: 1px solid #00ff00;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  display: none;
  z-index: 100;
  font-size: 14px;


}

.info-window h3 {
  margin-top: 0;
  font-size: 16px;
  border-bottom: 1px solid #00ff00;
  padding-bottom: 6px;
  
}

#logo-container {
  position: absolute;
  top: 50px;
  left: 60px;
  display: flex;
  align-items: center;
  z-index: 999;
}

#logo-container img {
  height: 90px; /* o ajusta según tamaño real */
  transition: opacity 0.5s ease;
}

#logo-completo {
  transition: opacity 0.4s ease, transform 0.4s ease;
  will-change: transform, opacity;
 
    width: 200px;
    height: auto;
    top: 70px;
    left: 80px;
    
  
}


#texto {
  position: absolute;
  top: 100px; /* ajusta según el tamaño del logo */
  left: 20px;
  color: #ffffff;
  font-size: 15px;
  font-family: "Corrosiva Regular", sans-serif;
  z-index: 999;
  max-width: 320px;
  line-height: 1.4;
}


.subtitulo {
  font-size: 18px;
}


